﻿﻿<%@ page language="C#" masterpagefile="~/cfestimator.master" autoeventwireup="true"  CodeBehind="admMngCategories.aspx.cs" Inherits="cfEstimator.admMngCategories" title="Manage Categories" %>
<%@ Register src="admMenu.ascx" tagname="admMenu" tagprefix="uc1" %>
<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
<uc1:admMenu ID="admMenu1" runat="server" TagID="hrefCategories" />
<div style="text-align: center">    
    <asp:Label runat="server" ID="lblMsg" CssClass="infoMsg" EnableViewState="false"></asp:Label></div>
<asp:PlaceHolder ID="phEditForm" runat="server" Visible="false">
<div class="dataFormBoxed">
<table>
<tr>
<td class="requiredField">CategoryID:</td>
<td><asp:Label ID="lblCategoryID" runat="server"></asp:Label></td>
</tr>
<tr>
<td class="requiredField">Category Name:</td>
<td><asp:TextBox ID="tbName" runat="server" MaxLength="30"></asp:TextBox></td>
</tr>
<tr>
<td class="requiredField">Display Name:</td>
<td><asp:TextBox ID="tbDisplayName" runat="server" MaxLength="150" Width="400"></asp:TextBox></td>
</tr>
<tr>
<td class="requiredField">Master CategoryID:</td>
<td><asp:TextBox ID="tbMasterCategoryID" runat="server"></asp:TextBox></td>
</tr>
<tr>
<td class="requiredField">Sort Order:</td>
<td><asp:TextBox ID="tbSortOrder" runat="server"></asp:TextBox></td>
</tr>
<tr>
<td colspan="2">
    <asp:Button ID="btSave" runat="server" Text="Save Changes" 
        onclick="btSave_Click" /> &nbsp;
    <asp:Button ID="btCancel" runat="server" Text="Cancel" 
        onclick="btCancel_Click" />
</td>
</tr>
</table>
</div>
</asp:PlaceHolder>
<div class="gridActions">
<strong>Actions:</strong>
<asp:LinkButton ID="lbAdd" runat="server" onclick="lbAdd_Click">Add new category</asp:LinkButton>
</div>
<asp:GridView ID="gvData" runat="server" CssClass="gridTable" AllowPaging="True" AllowSorting="False" AutoGenerateColumns="False" DataKeyNames="CategoryID" OnRowDeleting="DeleteRow" OnSelectedIndexChanging="SelectRow" CellPadding="0" PageSize="20" OnPageIndexChanging="ChangePage" GridLines="None" BorderStyle="None" Width="100%">
    <Columns>
        <asp:CommandField ShowSelectButton="True" SelectImageUrl="~/img/edit.gif" SelectText="View" ButtonType="Image" ItemStyle-Width="16px" />
        <asp:TemplateField ShowHeader="false">
            <ItemStyle HorizontalAlign="Center" Width="16px" />
            <ItemTemplate>
                <asp:ImageButton ID="btnDel" runat="server" 
                    CausesValidation="False" CommandName="Delete"
                    ImageUrl="~/img/delete.gif" ToolTip="Delete" OnClientClick="return confirm('Are you sure you want to delete this category?')" />
            </ItemTemplate>
        </asp:TemplateField>
        <asp:TemplateField ShowHeader="false">
            <ItemStyle HorizontalAlign="Center" Width="100px" />
            <ItemTemplate>
            <a href="admMngSubCategories.aspx?mcid=<%# DataBinder.Eval(Container, "DataItem.CategoryID")%>">Sub-categories</a>
            </ItemTemplate>
        </asp:TemplateField>
        <asp:BoundField DataField="CategoryID" HeaderText="CategoryID" />
        <asp:BoundField DataField="Name" HeaderText="Category Name" />
        <asp:BoundField DataField="DisplayName" HeaderText="Display Name" />
        <asp:BoundField DataField="MasterCategoryID" HeaderText="Master CategoryID" />
        <asp:BoundField DataField="SortOrder" HeaderText="Sort Order" />
    </Columns>
    <HeaderStyle CssClass="gridHeader" />
    <RowStyle CssClass="gridRow" VerticalAlign="Top" />
    <AlternatingRowStyle CssClass="gridAltRow" VerticalAlign="Top" />
    <PagerStyle CssClass="gridPager" />
</asp:GridView>
</asp:Content>


