﻿<%@ page language="C#" masterpagefile="~/cfestimator.master" autoeventwireup="true" CodeBehind="admRunit.aspx.cs" Inherits="cfEstimator.admRunit" title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <br />
    <asp:DropDownList ID="ddTables" runat="server" DataTextField="name" 
        DataValueField="name">
    </asp:DropDownList>
    <asp:Button ID="Button1" runat="server" Text="Get Data" onclick="Button1_Click" />
    <br />
    <asp:GridView ID="GridView1" runat="server" AllowPaging="True" 
        OnPageIndexChanging="ChangePage" PageSize="50">
        <PagerSettings Mode="NumericFirstLast" Position="TopAndBottom" />
    </asp:GridView>
</asp:Content>