﻿<%@ page language="C#" masterpagefile="~/cfestimator.master" autoeventwireup="true" CodeBehind="admUploadData.aspx.cs" Inherits="cfEstimator.admUploadData" title="Untitled Page" %>

<asp:Content ID="Content1" ContentPlaceHolderID="head" Runat="Server">
</asp:Content>
<asp:Content ID="Content2" ContentPlaceHolderID="ContentPlaceHolder1" Runat="Server">
    <asp:FileUpload ID="fuProducts" runat="server" />  
    <asp:Button ID="btUploadProducts" runat="server" Text="Upload Products" 
        onclick="btUploadProducts_Click" />
</asp:Content>

