﻿
<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="cfestimator.master.cs" Inherits="cfEstimator.Master" %>


<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml">
<head runat="server">
    <title>CF Estimator</title>
    <asp:ContentPlaceHolder id="head" runat="server">
    </asp:ContentPlaceHolder>
    <link href="styles.css" rel="stylesheet" type="text/css" />
    <script type="text/javascript" src="main.js"></script>
</head>
<body id="MasterPageBodyTag" runat="server">
    <form id="form1" runat="server">
    <div id="container">
        <div id="header">
            <div style="float: left"><img src="img/gdCFLogo.gif" width="235" height="29" border="0"/></div>
            <div id="hdrMenuBar" runat="server" style="float: right">
                <a href="estimateList.aspx"><img src="img/btnOpen.gif" alt="Open an Estimate" width="36" height="29" 
                border="0"/></a><a href="estimate.aspx"><img src="img/btnEstimate.gif" alt="Estimate Sheet" width="36" height="29" 
                border="0"/></a><span id="profileLink" runat="server"><a href="userProfile.aspx"><img 
                src="img/btnProfile.gif" alt="My Profile" width="36" height="29" border="0"/></a></span><span 
                id="adminLink" runat="server" visible="false"><a href="admMngUsers.aspx"><img 
                src="img/btnAdmin.gif" alt="Admin" width="36" height="29" border="0"/></a></span><asp:LinkButton 
                ID="lbLogout" runat="server" onclick="lbLogout_Click" ><img src="img/btnLogout.gif" 
                alt="Logout" width="36" height="29" border="0"/></asp:LinkButton>
                &nbsp;
            </div>
        </div>
        <table width="100%" border="0">
        <tr>
            <td align="left">
            <div id="topLeftMenu" runat="server" style="color: #0C84C3; font-size: 9pt; margin-top: 4px;">
        &nbsp;
        <span style="font-weight: bold;">Add to Estimate:</span>
        <a href="package.aspx?clear=0&type=blower&sf=true">Blower/Exhauster Pkg</a> |
        <a href="package.aspx?clear=0&type=evs&sf=false">EVS Items</a> |
        <a href="package.aspx?clear=0&type=smoothflow&sf=false">Smoothflow</a> |
        <a href="specials.aspx">Specials</a> |
        <a href="bare.aspx">Bare Unit</a> |
        <a href="aftermarket.aspx">Aftermarket Item</a> |
        <a href="buyout.aspx?s=estimate">Buy-Out Item</a>
        <asp:PlaceHolder ID="phFieldService" runat="server" Visible="false">
        | <a href="fieldService.aspx">Field Service</a>
        </asp:PlaceHolder>
        </div>
            </td>
            <td align="right">
                    <div id="topRightMenu" runat="server" style="color: #0C84C3; font-size: 9pt;">
            <span style="font-weight: bold;">Add Part Number: </span>
            <asp:TextBox CssClass="quickLaunch" ID="tbPartNumber" runat="server" MaxLength="25"  onkeypress="return submitenter(this,event,'btPartNumber')"></asp:TextBox>
            <asp:Button ID="btPartNumber" runat="server" class="btnPartNumber" 
                onclick="btPartNumber_Click" />
            &nbsp;
        </div>
            </td>
        </tr>
        </table>
        
        <div id="content">
        <asp:ContentPlaceHolder id="ContentPlaceHolder1" runat="server">
        
        </asp:ContentPlaceHolder>
        </div>

    </div>
    <asp:HiddenField ID="hdTimeout" runat="server" />
    </form>
</body>
</html>

