﻿body {
    margin: 0;
    padding: 0;
    text-align: center;
    font-family: Arial, Verdana, Helvetica, sans-serif;
    font-size: 11pt;
    color: #000;
    /* background-color: #DDD; */
}

#container {
    position: relative;
    margin: 0 auto;

    /*
    background-image: url("img/bg.gif");
	background-position: left;
	background-repeat: repeat-y;
    */
}

#container a
{
    color: #0033ff;
}

#header
{
    background-image: url( 'img/pgHeaderBg.gif' );
    background-repeat:repeat-x;
    height: 29px;
}

#headerNav
{
    font-weight: bold;
    font-size: 14px;
    background-color: #dddddd;
    border: solid 1px #333333;
    padding: 3px 0px 3px 0px;
    margin: 0 0 5px 0;
    
}

#headerNav span
{
    font-weight: bold;
    font-size: 14px;
    background-color: #dddddd;
    /* border: solid 1px #333333; */
    padding: 3px 5px 3px 3px;
    margin: 0px 0px 0px 0;
}

#headerNav a
{
    font-weight: bold;
    font-size: 14px;
    color: White;
    background-color:#0066FF;
    border-color: #333333;
    border-style: solid;
    border-width: 0 1px 0 1px;
    padding: 3px 3px 1px 3px;
    margin: 0 0 0 0;
    text-decoration: none;
}

#headerNav .selected
{
    font-weight: bold;
    font-size: 14px;
    color: Black;
    background-color:#dddddd;
    border-color: #333333;
    border-style: solid;
    border-width: 0 1px 0 1px;
    padding: 3px 3px 1px 3px;
    margin: 0 0 0 0;
    text-decoration: none;
}

h2 .selected
{
    font-weight: bold;
    font-size: 12px;
    color: Black;
    background-color:white;
    border-color: #333333;
    border-style: solid;
    border-width: 0 0 0 0;
    padding: 0px 3px 4px 3px;
    margin: 0 0 0 0;
}

#content
{
    padding: 5px;
    position: relative;
    text-align: left;
}

H2
{
    font-weight: bold;
    font-size: 13px;
    background-color: #dddddd;
    border: solid 1px #333333;
    padding: 3px 2px 3px 2px;
    margin: 0 0 5px 0;
}

.pageHeader
{
    background-color: #dddddd;
    border: solid 1px #333333;
    padding: 3px 5px 3px 5px;
    margin: 0 0 5px 0;
    overflow: hidden;
    zoom: 1;
}

H3
{
    font-weight: bold;
    font-size: 16px;
    /* border-top: solid solid 1px #333333; */
    padding-top: 25px;
}

#loginContent, #errorContent
{
    text-align: center;
}

.quickLaunch
{
    font-size: 8pt;
}

.specials
{
    font-size: 10pt;
    font-weight: bold;
    padding-bottom: 2px;
}

.headerFilters
{
    font-size: 10pt;
    padding-bottom: 2px;
}

.headerFilters input, .headerFilters select
{
    font-size: 8pt;
}

.packageUpdate
{
    font-size: 10pt;
    padding-bottom: 2px;
    border-bottom: solid 1px black;
    margin-bottom: 3px;
}

.packageUpdate input, .packageUpdate select
{
    font-size: 8pt;
}

.btnPartNumber {
background: #6C88E3 url(img/blue_button.gif) no-repeat left top!important;
border: none!important;
height: 17px!important;
width: 17px!important;
cursor: pointer; cursor: hand;
margin-bottom: 2px!important;
}

.loginRow 
{
    background-color: #E3E3E3;
}

.basicTable
{
    border: solid 1px black;
}

.basicTable td, .basicTable th
{
    border-right: solid 1px black;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 11px;
}

.basicTable tr
{
    vertical-align: top;
    text-align: center;
}

.basicTableHeader
{
    vertical-align: middle !important;
}

.basicTableHeader th, .basicTableHeader td
{
    border-bottom: solid 1px black !important;
}

#tooltip {
    padding: 3px;
    background: #f9f9f9;
    border: 1px solid #eee;
    text-align: center;
    font-size: smaller;
}

span.tip {
    border-bottom: 1px solid #eee;
}

.note
{
    /*
    border: solid 1px gray;
    background-color: #ffffcc;
    font-size: 10px;
    width: 300px;
    padding: 3px;
*/
    font-size: 8pt;
	BORDER: darkgray 1px solid;
	PADDING: 3px;
	Z-INDEX: 1;
	LEFT: 500px;
	WIDTH: 300px;
	POSITION: absolute;
	TOP: 0px;
	BACKGROUND-COLOR: #F5DEB3;
}

#notes
{
    font-size: 11px;
}

div.MaskedDiv
{
	visibility: hidden;
	position: absolute;
	left: 0px;
	top: 0px;
	font-family: verdana;
	font-weight: bold;
	padding: 40px;
	z-index: 100;
	background-image: url(gray.png); /* ieWin only stuff */
	_background-image: none;
	_filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(enabled=true, sizingMethod=scale src= 'gray.png' );
}


div.ModalPopup
{
	font-family: Verdana, Arial, Helvetica, sans-serif;
	font-size: 11px;
	font-style: normal;
	background-color: #CCCCCC;
	position: absolute; /* set z-index higher than possible */
	z-index: 10000;
	visibility: hidden;
	color: Black;
	border-style: solid;
	border-color: #000000;
	border-width: 1px;
	width: 350px;
	/* height: 100px; */
	padding: 10px;
}
	
.estimateSummaryTable
{
    border-left: solid 1px #0033CC !important;
    border-top: solid 1px #0033CC !important;
    border-right: solid 1px #0033CC !important;
    border-bottom: solid 1px #0033CC !important;
    background-color: #E0ECFF;
}

.estimateHeaderTable tr, .estimateSummaryTable tr
{
    vertical-align: top;
}

.estimateHeaderTable td, .estimateHeaderTable th, .estimateSummaryTable td, .estimateSummaryTable th
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
}

.estimateSummary
{
    color: #0C84C3;
    font-weight: bold;
}

.estimateSummaryTableHeader
{
    background-color: #0033CC;
}

.gridActions
{
    background-color: #00ffff;
    border: solid 1px black;
    padding: 2px;
    margin-top: 5px;
    font-size: 12px;
}

.gridActions strong
{
    padding-right: 5px;
}

.gridTable
{
    border-left: solid 1px #707070 !important;
    border-right: solid 1px #707070 !important;
    border-bottom: solid 1px #707070 !important;
}

.gridTable td
{
    border-top: solid 1px #707070;
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
}

.gridTable tr
{
    vertical-align: top;
}

.thinTexbox
{
    border: solid 1px black;
    font-size: 11px;
}

.fieldServiceTable
{
    text-align: center;
}

.fieldServiceTable td
{
    border: solid 1px black;
    font-size: 11px;
    vertical-align: bottom;
    padding: 1px 8px 2px 8px;
    height: 20px;
}

.fieldServiceTable .alignLeft
{
    text-align: left;
}

.fieldServiceTable .alignRight
{
    text-align: right;
}

.fieldServiceTable .headerRow
{
    background-color: #00ffff;
}

.gridRow
{
}

.gridAltRow
{
    background-color: #CCCCCC;
}

.gridPager
{
    background-color: #8FC6E3;
}

.gridPager td td
{
    border: none;
    padding: 0px;
}

.gridFooter
{
    font-weight: bold;
    background-color: #8FC6E3;
}

.gridHeader
{
	background: url('img/tblHeader.gif') repeat-x;
	/* border-top: solid 1px #8d9092; */
	/*border-bottom: solid 1px #707070;*/
	height: 26px !important;
	color: black;
	font-size: 12px;
	text-align: left;
	padding-left: 5px;
	padding-right: 5px;
}

.gridHeader a
{
	text-decoration: none;
	color: black !important;
}

.accessoryList table
{
    /*width: 150px;*/
    font-size: 13px;
    border: solid 1px black;
    border-collapse: collapse;
    background-color: #dddddd;
}

.accessoryList th
{
    background-color: #6699CC;
    text-align: center;
}

.accessoryList td
{
    border: solid 1px black;
}

.accessoryList a
{
    text-decoration: none;
}

.productTable
{
    /*border-style:None;*/
    width:100%;
    margin-right: -15px;
    border-collapse:collapse;
    border: solid 1px black;
}

.productTable td
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    border: solid 1px black;
}

.productTable th
{
    padding-left: 5px;
    padding-right: 5px;
    padding-top: 2px;
    padding-bottom: 2px;
    font-size: 12px;
    font-weight: bold;
    border: solid 1px black;
}

.productTable tr
{
    vertical-align: top;
}

.productTableHeader
{
    background-color: #CCCCCC;
    text-align: center;
}

/* ascending / descending sorting arrow */
.GroupPanelItems_WebBlue input,
.gridHeader img, .gridHeader input
{
	vertical-align: middle;
}

td.gridHeader input
{
	width: auto;
	float: left;
	border: solid 1px #474b38;
	background-color: #fafafa;
	font: bold 10px Arial, Verdana, Helvetica, sans-serif;
	color: #989cb0;
	margin-right: 2px;
}

.dataForm, .dataForm td
{
    font-size: 12px;
}

.dataFormBoxed, .dataFormBoxed td
{
    font-size: 10pt;
}

.dataFormBoxed input, .dataFormBoxed select
{
    font-size: 8pt;
}

.dataFormBoxed
{
    border: solid 1px black;
    margin: 5px 0 5px 0;
    padding: 5px;
    background-color: #dddddd;
}

.infoMsg
{
    font-weight: bold;
    text-align: center;
}

.errorMsg
{
    font-weight: bold;
    color: red;
}

.requiredField
{
    font-weight: bold;
}

.subtotalDesc
{
    width: 300px;
    text-align: center;
    font-weight: bold;
}

.dataTable, .dataTable td
{
    font-size: 10pt;
}

.dataTable input, .dataTable select
{
    font-size: 8pt;
    width: 50px;
}

.dataTable table
{
    border: solid 1px black;
    margin: 5px 0 5px 0;
    padding: 5px;
    background-color: #dddddd;
}
